@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0px; padding:0px; outline:none;}
body{font-family: Roboto; font-size: 16px;font-style: normal;}
.container{
    max-width: 1140px;
    margin: auto;
    padding: 0px 15px;
    display: block;
}
section{padding:60px 0px;}

#headersection {
    background: #333;
    position: sticky;
    top: 0;
    z-index: 2;
}

  .logo {
    width: 70px;
    float: left;
  }
  .logo img {
    width: 65px;
    float: left;
  }
  .logo h3 {
    color: white;
    float: right;
  }
  .hotelName {
    color: white;
    width: 80px;
    float: left;
  }
  .topbar {
    overflow: hidden;
    padding: 5px 0px;
  }
  .hotelName h3 {
    margin-top: 22px;
    font-size: 14px;
    font-weight: normal;
  }
  .mainMenuWrapper {
  overflow: hidden;
  width: 900px;
  float: right;
  }
  .mainmenuUl {
  float: right;
  }
  .mainmenuUl li a {
    color: #ffffffc7;
    text-decoration: none;
    display: block;
    margin-top: 23px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05em;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}
  .mainmenuUl li {
    float: left;
    list-style: none;
    padding-bottom: 5px;
  }
  .mainmenuUl li:last-child {
    margin-right: 0px;
  }
  #downloadBtn {
    text-transform: uppercase;
    background: white;
    color: black;
    padding: 5px 15px;
    font-size: 13px;
    letter-spacing: 0.02em;
    border-radius: 1px;
    border: none;
    margin-top: 18px;
  }
#htmltemplate {
    background: linear-gradient(#0000005e,#00000078), url(../images/background1.jpg);
    min-height: 480px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
    background-size: cover;
    margin: auto;
}
  .htmlTitle {
    overflow: hidden;
  }
  .htmlTitle h1 {
    margin-top: 60px;
    color: white;
    font-size: 75px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 60px;
    margin-left: 200px;
}
  .roomAvilablity {
    overflow: hidden;
    margin-left: 200px;
    height: 140px;
  }
  .rasingleBox {
    width: 160px;
    background: white;
    padding: 25px 10px;
    text-align: center;
    overflow: hidden;
    float: left;
  }
  .rasingleBox:last-child{padding-right: 0px;}
  .raTitle h4 {
    color: #666;
    font-size: 13px;
    font-weight: normal;
  }
  .date span {
    font-size: 50px;
    font-weight: bold;
    margin-left: 40px;
  }
  .day\&Icon {
    width: 136px;
    float: left;
    color: #333333a6;
    margin-top: 10px;
  }
  .date {
    width: 14px;
    float: left;
    margin-right: 4px;
  }
  .date\&day {
    overflow: hidden;
  }
  .date\&day {
    overflow: hidden;
    text-align: center;
    border-right: 1px solid #ddd;
  }
 
  .day\&Icon span {
    font-weight: normal;
  }
  .day\&Icon p i {
    margin-top: 10px;
  }
  .raTitle {
    margin-bottom: 20px;
  }
  .rasingleBoxavailability {
    width: 155px;
    background: black;
    padding: 25px 10px;
    text-align: center;
    overflow: hidden;
    float: left;
    padding-bottom: 56px;
    cursor: pointer;
    height: 100%;
  }
  .chekavail {
    overflow: hidden;
    margin-top: 35px;
  }
  .chekavail h3 {
    color: #ffffffd1;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    display: grid;
    place-items: center center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.09em;
  }
  section#history {
    overflow: hidden;
    padding: 0px 0px;
}

.historyWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}



.historydiscover {
    overflow: hidden;
    background: #000000;
    color: white;
    float: left;
    width: 50%;
    height: 531px;
    padding-top: 20px;
}

.historyTitle {
  overflow: hidden;
  margin:  20px 60px;
}

.historyTitle h1 {
  font-family: 'Gilda Display', serif;
  font-size: 4.1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
}

h1#hishis {
  color: #C19B76;
}
.historyDescipt {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
}

.historyDescipt p {
  line-height: 27px;
  color: #878787e0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-align: left;
  padding-right: 25px;
  text-shadow: 25px -30px #333333d1;
}

button#aboutUsBtn a {text-align: center;text-decoration: none;border: none;outline: none;color: white;font-family: 'Roboto', sans-serif;font-size: 0.75rem;font-weight: 800;}

button#aboutUsBtn {
  border-radius: 3px;
  background: black;
  padding: 15px 30px;
  border: none;
  margin-left: 58px;
}

button#aboutUsBtn:hover {background: #666;}
.hImgWrapper {
  float: left;
  overflow: hidden;
  width: 50%;
  height: 550px;
}
.hostoryImg img {
    width: 100%;
    height: 550px;
}
.smRmImg {
  overflow: hidden;
  max-width: 100%;
  height: 300px;
}
.smRmImg img {
  width: 100%;
  height: 300px;
  transition: 0.3s;
}
.smRmImg img:hover{
  transform: scale(1.1);
}
.smallRoom {
  width: 540px;
  background: white;
  float: left;
}
.SmRmTitle {
  font-family: 'Gilda Display', serif;
  padding: 0px 25px;
}
.SmRmTitle h3 {
  font-size: 26px;
  margin-bottom: 6px;
  font-family: 'Gilda Display', serif;
  font-weight: 600;
  color: #3333338c;
  letter-spacing: 0.04em;
  padding-top: 22px;
}

.smRmdec {
  margin-bottom: 20px;
  padding: 10px 25px;
}

button {
  overflow: hidden;
  border: none;
  outline: none;
  background: black;
  padding: 10px 15px;
  margin-bottom: 25px;
}

button a {color: white;text-decoration: none;}

.comment span {
  margin-right: 8px;
  font-size: 15px;
  color: #333333d1;
}

.comment span i {
  margin-right: 5px;
  color: #3333336b;
}

section#ourRooms {
  background: #EFEFEF;
  padding: 35px 0px;
}

.smRmdec p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.08em;
  font-size: 14px;
  color: #33333361;
  font-weight: 700;
  padding: 23px 0px;
  line-height: 24px;
}
.smRmdec {
  margin-bottom: 3px;
  padding: 10px 25px;
}
.mainTitle h5 {
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: #66666696;
  position: relative;
  padding: 22px 5px;
}
.mainTitle {
  text-align: center;
  margin-bottom: 35px;
}
.mainTitle h5:after {content: "";width: 30px;height: 2px;display: inline-block;border-bottom: 2px solid #666;bottom: 0%;left: 50%;transform: translateX(-50%);position: absolute;}

.mainTitle h2 {
  margin-top: 25px;
  color: #000000a1;
  font-style: normal;
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.rdBoxWrapper {
  overflow: hidden;
  float: right;
}

.roomDescription {
  overflow: hidden;
}

.rdsingleBox {
  width: 260px;
  float: left;
  padding: 36px;
  padding-top: 0px;
  padding-bottom: 16px;

}

.rdBImg img {
  width: 100%;height: 260px;
  transition: 0.3s;
  overflow: hidden;
}

.rdBImg img:hover{
  transform: scale(1.1);
}
.rmType_Price {
  position: relative;
  bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.rmType_Price span {
    margin-left: 30px;
    color: #ffffffd9;
    font-weight: normal;
    letter-spacing: 1px;
    overflow: hidden;
}

span#pBtn {
  background: #C19B76;
  padding: 4px 5px;
  overflow: hidden;
}

.rdsingleBox:nth-child(2) {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}


.rdsingleBox:nth-child(4) {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
.rdBImg {
  overflow: hidden;
  height: 260px;
}
#services {
  background: linear-gradient(#0000003d, #00000036),url(../images/background5.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  background-attachment: scroll;
}
.hotelServicesWraper {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.packTitle {
  background: #C19B76;
  padding: 30px;
}

.packdescription {
  overflow: hidden;
  background: white;
  color: #666666a8;
  padding: 30px;
  letter-spacing: 0.04em;
  font-size: 15px;
}

ul.pacdescUl {
  overflow: hidden;
}

ul.pacdescUl li {
  border-bottom: 1px solid #dddddd6b;
  list-style: none;
  padding: 10px;
}
button#readmoreBtn {
  background: #C19B76;
  margin-left: 45px;
  margin-top: 30px;
  padding: 8px 25px;
  font-size: 12px;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
}
.packTitle h5 {
  margin-bottom: 10px;
  letter-spacing: 0.04em;
}

.packTitle h2 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Gilda Display', serif;
}

.packTitle span {
  font-size: 13px;
  letter-spacing: 0.05em;
  font-weight: 100;
  color: #ffffffc2;
}
.hsTitle {
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.hsTitle h2 {
  font-family: 'Gilda Display', serif;
  font-size: 55px;
  font-weight: 100;
}
.hsSinglePack {
  width: 260px;
  float: left;
  margin-right: 30px;
}

.hsSinglePack:last-child {
  margin-right: 0px;
}

.hTtitle h2 {font-family: 'Gilda Display', serif;font-size: 55px;font-weight: 500;text-align: center;padding-bottom: 40px;color: #000000d1;}

section#hotelAround {
    overflow: hidden;
    background: #EFEFEF;
}

.htBoxWrapper {
    overflow: hidden;
}

.htSingleBox {
  width: 350px;
  height: 420px;
  float: left;
  overflow: hidden;
  margin-right: 35px;
  transition: 0.2s;
}


.htSingleBox:last-child {
  margin-right: 0px;
}

.htDescPt {
  width: 100%;
  color: white;
  position: relative;
  bottom: 91px;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Gilda Display', serif;
  z-index: 1;
}

.htDescPt h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  
}
.htDescPt h3:hover{
color:#ddd;
cursor: pointer;
}
.htDescPt p {
    font-size: 13px;
}

img#htImg {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
}

.htBackImg3 {
  width: 350px;
  height: 420px;
  position: absolute;
  background: #333;
  opacity: 0.3;
  z-index: 1;
}
.htSingleBox:hover #htImg {
  transform: scale(1.1);
}
section#clientsReview {
  overflow: hidden;
  background: linear-gradient(#00000047, #00000045),url(../images/background7.jpg);
  background-position: 50% 35%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.crTitle {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
}

.crTitle h2 {
  font-family: 'Gilda Display', serif;
  font-size: 60px;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.userReviewWrapper {
  overflow: hidden;
  display: grid;
  place-items: center;
}

.singleUserBox {
  overflow: hidden;
  background: #C19B76;
  margin-bottom: 50px;
  width: 895px;
  border-radius: 3px;
}


.sUBoxImg {
  height: 215px;
  width: 230px;
  float: left;
}
.sUBoxImg1 {
  height: 215px;
  width: 230px;
  float: right;
}


.sUBoxImg img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  padding: 30px;
}
.sUBoxImg1 img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  padding: 30px;
}

.sUDescription {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 25px;
  font-weight: normal;
  letter-spacing: 0.06em;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: justify;
  padding-top: 30px;
}


.sUDescription p {
    margin-bottom: 20px;
    padding-right: 25px;
}

.sUDescription span:last-child {
    margin-bottom: 10px;
    font-weight: 100;
}


.sUDescription {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 25px;
  font-weight: 200;
  letter-spacing: 0.09em;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: left;
  padding-right: 35px;
  padding-top: 30px;
  font-style: italic;
}
.sUDescription1 {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-bottom: 0px;
  font-size: 14px;
  text-align: right;
  padding-top: 30px;
  padding-left: 25px;
  font-weight: 200;
  font-style: italic;
}
.sUDescription span {
  display: block;
  margin-top: 1px;
  font-weight: bold;
  color: white;
}
.sUDescription1 span {
  display: block;
  margin-top: 1px;
  font-weight: bold;
  color: white;
}
.sUDescription p {
    margin-bottom: 20px;
 
}
.sUDescription1 p {
  margin-bottom: 20px;
 
}

.sUDescription span:last-child {
    margin-bottom: 10px;
    font-weight: 100;
}

.sUDescription1 span:last-child {
  margin-bottom: 10px;
  font-weight: 100;
}

footer#footersection {
  overflow: hidden;
  background: #232323;
}

.fsectionWrapper {
  overflow: hidden;
  padding: 70px;
  padding-bottom: 50px;
}
.fSingleBox {
    width: 280px;
    float: left;
    margin-left: 78px;
    color: white;
}
.copyRightSec {
  background: #333;
  padding: 30px;
  color: white;
  text-align: center;
}
.phone {
  overflow: hidden;
}

.phone h4 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.phone p {
  font-size: 13px;
  letter-spacing: 0.08em;
  color: #ffffffcc;
  font-weight: 100;
  margin-bottom: 30px;
}

.phone h2 {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
} 

.fsocialIcon {
  overflow: hidden;
}

.fsocialIcon a {
  color: #ffffffe3;
  font-size: 25px;
  padding: 10px;
}

.subscribe {
  overflow: hidden;
}

.email input {
  padding: 15px;
  border-radius: 1px;
  border: 1px solid #ffffffc2;
  background: #333;
  color: white;
}

.email {
  width: 140px;
  float: left;
}

.sbsbBtn {position: absolute;right: 110px;}

.sbsbBtn button {
  background: #C19B76;
  padding: 16px 36px;
  border-radius: 1px;
  color: #ffffffe8;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.sbsbBtn button:hover {
  background: #A17549;
  cursor: pointer;
}

.fSingleBox:first-child {
  margin-left: 0px;
}
h2#findus {
  background: white;
  padding: 23px;
  text-align: center;
  font-family: 'Gilda Display', serif;
  font-size: 3.5rem;
  color: #333;
  font-weight: 500;
}
ul.subMenu {
  margin-top: 5px;
  width: 263px;
  padding-top: 0px;
  top: unset;
  display: grid;
  position: absolute;
  transform: scaleY(0);
  visibility: hidden;
  transform-origin: top;

}

ul.subMenu li a {
    color: #666666ab;
    margin-top: 13px;
    margin: 3px 10px;
    text-align: justify;
    font-size: 15px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 5px;
}

ul.subMenu li {
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #66666661;
    padding-bottom: 0px;
    margin: 0px;
}

ul.subMenu li:hover {
    background: #ddd;
    transition: 0.2s;
}
ul.mainmenuUl li:hover .subMenu {
    visibility: visible;
    transform: scaleY(1);
    padding-top: 2px;
}
i.fas.fa-caret-right {
  float: right;
}
ul.min_subMenu {
  margin-top: 5px;
  width: 263px;
  padding-top: 0px;
  left: 263px;
  top: 0px;
  display: grid;
  position: absolute;
  transform: scaleX(0);
  visibility: hidden;
  transform-origin:left;
}
ul.min_subMenu li{
  background: #ffffff;
  position: relative;
  border-bottom: 1px solid #66666661;
  padding-bottom: 0px;
  margin: 0px;
}
ul.min_subMenu li:hover{
background: #ddd;
}

ul.subMenu li:hover ul.min_subMenu{
  visibility: visible;
  transform: scaleX(1);
  padding-top: 2px;
}